<template>
  <div class="notelist">
     <el-table
      :data="tableData"
      border
      size="mini"
      style="width: 100%">
      <el-table-column
        prop="bookedid"
        label="预定序号">
      </el-table-column>
      <el-table-column
        prop="classroomno"
        label="教室">
      </el-table-column>
      <el-table-column
        prop="name"
        label="预定人">
      </el-table-column>
      <el-table-column
        prop="xueyuan"
        label="所在学院">
      </el-table-column>
      <el-table-column
        prop="startdate"
        label="开始时间">
      </el-table-column>
      <el-table-column
        prop="enddate"
        label="结束时间">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: 'NoteList',
  data() {
    return {
      list: {}
    };
  },
  computed: {
    tableData() {
      var arr = [];
      Object.keys(this.list).map((key, index) => {
        this.list[key].map(function(item, jindex) {
          arr.push(item);
        })
      });
      return arr;
    }
  },
  created() {
    this.$http.get('/api//booked/getMyBookedClassRoom').then(res => {
      this.list = res.data.result.mybookedclassroom;
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
