<template>
  <div class="book">
    <el-table
      :data="roomList"
      style="width: 100%"
      :cell-class-name="className">
      <el-table-column
        label="教室"
        width="180">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.room }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="预定"
        width="180">
        <template slot-scope="scope">
          <a>
            <el-button size="mini" @click="startBook(scope.row)">预定</el-button>
          </a>
        </template>
      </el-table-column>
      <el-table-column label="预定信息">
        <template slot-scope="scope">
          <p v-for="(item, index) in scope.row.bookinfo" :key="index">
            {{item.xueyuan}} {{item.name}} 已在 {{item.startdate}} 到 {{item.enddate}} 时间段预定该教室;
          </p>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      :title="bookedRoomTitle"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <el-date-picker
        v-model="date"
        type="datetimerange"
        range-separator="至"
        start-placeholder="开始时间"
        end-placeholder="结束时间">
      </el-date-picker>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="bookHandle()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Book',
  data() {
    return {
      classList: [],
      dialogVisible: false,
      date: '',
      bookedRoom: '',
      bookedRoomTitle: ''
    };
  },
  methods: {
    startBook(row) {
      this.bookedRoomTitle = row.room + ' 教室预定';
      this.bookedRoom = row.room;
      this.dialogVisible = true;
      this.date = '';
    },
    handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
    },
    bookHandle() {
      let params = {
        classroomno: this.bookedRoom, 
        startdate: this.date[0],
        enddate: this.date[1],
        IS_FORMDATA: true
      };
      this.$http.post('/api/booked/book', params).then(res => {
        this.dialogVisible = false;
        this.getRoom();
      });
    },
    className({row, column, rowIndex, columnIndex}) {
      return row.booked ? 'booked' : '';
    },
    getRoom() {
      this.$http.get('/api/booked/getAllClassRoomInfo').then(res => {
        this.classList = res.data.result.classroominfo
      });
    }
  },
  computed: {
    roomList() {
      let arr = Object.keys(this.classList);
      let list = [];
      let that = this;
      arr.map(function(item, index) {
        list.push({
          room:item,
          bookinfo: that.classList[item],
          booked: that.classList[item] && that.classList[item].length ? true : false
        })
      })
      return list;
    }
  },
  created() {
    this.getRoom();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .book {
    .el-table__body-wrapper .el-table__row .booked {
      background: #f3f3f3;
    }
    .el-table__body-wrapper .el-table__row{
      background: rgba(18, 121, 183, .2) !important;
    }
  }
</style>
