<template>
  <div class="login">
     <el-row>
       <el-col :span="10" :offset="7">
         <el-form size="mini" :model="loginForm" ref="loginForm" label-width="100px" class="login-form">
          <el-form-item class="left" label="姓名" prop="name">
            <el-input placeholder="请输入姓名" v-model="loginForm.name">
            </el-input>
          </el-form-item>
          <el-form-item class="left" label="学号" prop="xuehao">
            <el-input placeholder="请输入学号" v-model="loginForm.xuehao">
            </el-input>
          </el-form-item>
          <el-form-item class="left" label="密码" prop="password">
            <el-input placeholder="请输入密码" type="password" v-model="loginForm.password">
            </el-input>
          </el-form-item>
          <el-form-item class="left" label="学院" prop="xueyuan">
              <el-select v-model="loginForm.xueyuan" placeholder="请选择所在学院" style="width:100%;">
                <el-option v-for="(item,index) in xueyuanlist" :key="index" :label="item.cdmc" :value="item.cdmc"></el-option>
              </el-select>
          </el-form-item>
          <el-button type="primary" @click="login">登陆</el-button>
         </el-form>
       </el-col>
     </el-row>
  </div>
</template>

<script>
import Cookies from 'js-cookie'
export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        name:'',
        xuehao:'',
        password:'',
        xuehao:'',
      },
      hasLogin: false,
      xueyuanlist: []
    }
  },
  methods: {
    login() {
      this.$http.post('/api/authen/getToken', {...this.loginForm, IS_FORMDATA:true}).then((res) => {
        Cookies.set('token', res.data.result);
        this.$router.push({name:'book', params: {username: this.loginForm.name}});
      })
    },
    getxueyuan() {
      this.$http.get('/api/dic/getDic?dicBh=XY').then((res) => {
        this.xueyuanlist = res.data.result.dics;
      })
    }
  },
  beforeMount() {
    this.getxueyuan();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
html, body{
  .login {
    height: 100%;
    width: 100%;
    background-image: url('../../public/image/login-bg.jpg');
    padding-top: 150px;
    .el-row {
      .el-col {
        background-color: white;
        height:350px;
        padding:30px 20px;
        border-radius: 5px;
        .el-input{
          margin-bottom:20px;
        }
      }
    }
  }
}
</style>
