<template>
  <div id="app">
    <el-container>
      <el-header>
        <Header :username="username"/>
      </el-header>
      <el-container>
        <el-aside style="width:auto;">
          <Sidebar/>
        </el-aside>
        <el-main>
          <router-view ref="main-container"></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import Sidebar from '../components/Sidebar.vue'
import Header from '../components/Header.vue'

export default {
  name: 'App',
  components: {
    Sidebar,
    Header
  },
  data() {
    return {
      username: ''
    }
  },
  beforeMount() {
    this.username = this.$route.params.username || 'admin';
  }
}
</script>

<style lang="scss">
html, body {
  height:100%;
  padding:0px;
  margin:0px;
  #app {
    font-family: 'Apple Lihei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
    .el-container {
      height:100%;
      padding:0px;
      margin:0px;
    }
    .el-header {
      padding:0px;
    }
  }
}
</style>
