<template>
  <div class="inspection">
    <el-row>
      <el-col style="text-align:left;">
       <el-form size="mini" :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="开始时间">
          <el-date-picker
            v-model="formInline.startDate"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            placeholder="选择开始时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="结束时间">
          <el-date-picker
            v-model="formInline.endDate"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            placeholder="选择结束时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="教室">
          <el-input v-model="formInline.classroomNo" placeholder="教室"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
      </el-form>
      </el-col>
    </el-row>
     <el-table
      :data="roomList"
      style="width: 100%"
      :cell-class-name="className">
      <el-table-column
        label="教室"
        width="180">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.room }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="预定"
        width="180">
        <template slot-scope="scope">
          <a>
            <el-button size="mini" @click="startBook(scope.row)">预定</el-button>
          </a>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      :title="bookedRoomTitle"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <el-date-picker
        v-model="date"
        type="datetimerange"
        range-separator="至"
        start-placeholder="开始时间"
        end-placeholder="结束时间">
      </el-date-picker>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="bookHandle()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Inspection',
  data() {
    return {
      dialogFormVisible: false,
      formInline: {
        classroomNo: '',
        startDate:'',
        endDate:''
      },
      date: '',
      classList: [],
      bookedRoomTitle: '',
      bookedRoom: '',
      dialogVisible: false
      };
  },
  methods: {
    onSubmit() {
      let params = {
        classroomno: this.formInline.classroomNo, 
        startdate: this.formInline.startDate,
        enddate: this.formInline.endDate,
        IS_FORMDATA: true
      };
      this.$http.post('/api/booked/getFreeClassRoom', params).then(res => {
        this.classList = res.data.result.classroominfo;
      });
    },
    startBook(row) {
      this.date = [this.formInline.startDate, this.formInline.endDate];
      console.log(this.date);
      this.bookedRoomTitle = row.room + ' 教室预定';
      this.bookedRoom = row.room;
      this.dialogVisible = true;
    },
    handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
    },
    bookHandle() {
      let params = {
        classroomno: this.bookedRoom, 
        startdate: this.date[0],
        enddate: this.date[1],
        IS_FORMDATA: true
      };
      this.$http.post('/api/booked/book', params).then(res => {
        this.dialogVisible = false;
        this.$message({message: '预定成功', type: 'success'});
      });
    },
    className({row, column, rowIndex, columnIndex}) {
      return row.booked ? 'booked' : '';
    }
  },
  computed: {
    title() {
      return this.onlyLook ? '查看巡检任务' : (this.edit ? '编辑巡检任务' : '新建巡检任务');
    },
    roomList() {
      var list = []
      this.classList.map((item, index) => {
        list.push({
          room:item.classroomno,
          booked: false
        })
      })
      return list;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
 .inspection {
   .el-table {
     .cell .el-button--text {
       color: #4584fb;
       margin-right:10px;
     }
   }
   .new-task {
     margin-top:8px;
     text-align: right;
   }
   .new-task-form{
     .el-form-item.left {
       .el-form-item__content{
          text-align: left;
        }
     }
   }
 }
</style>
