<template>
  <div class="header">
     <el-row>
       <el-col class="logo" :span="6">
         <img src='image/monit.png'>
         <span>高校教室借用管理系统</span>
       </el-col>
       <el-col class="username" :offset="12" :span="6">
         <i class="el-icon-s-custom"/>
         <span>{{username}}</span>
         <span><router-link to="/login" >Logout</router-link></span>
       </el-col>
     </el-row>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: {
    username: {
      type: String
    }
  },
  methods: {
    handleNodeClick() {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .header{
      height:60px;
      background-color: #243048;
      padding:0px;
      color: white;
      .el-row {
        .el-col.logo {
          text-align: left;
          padding:5px 10px;
          display: flex;
          img {
            width:40px;
            height:40px;
          }
          span {
            color:white;
            font-size:24px;
            display:inline-block;
            line-height:50px;
            margin-left:10px;
          }
        }
        .username {
          padding-top: 20px;
          span{
            margin-left:10px;
          }
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
</style>
