<template>
  <div class="sidebar">
    <el-row>
      <el-col :span="24">
        <div class="collapse">
          <template v-if="isCollapse">
            <i class="el-icon-s-unfold" @click="handleOpen"></i>
          </template>
          <template v-else>
            <i class="el-icon-s-fold" @click="handleClose"></i>
          </template>
        </div>
        <el-menu :collapse="isCollapse">
          <el-menu-item class="inspection" index="1" @click="hrefTo('book')">
            <i class="el-icon-menu"></i>
            <span slot="title">预定教室</span>
          </el-menu-item>
          <el-menu-item class="historyIns" index="2" @click="hrefTo('bookhistory')">
            <i class="el-icon-document"></i>
            <span slot="title">预定历史</span>
          </el-menu-item>
          <el-menu-item class="reportList" index="3" @click="hrefTo('search')">
            <i class="el-icon-document"></i>
            <span slot="title">空闲教室查询</span>
          </el-menu-item>
        </el-menu>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  data() {
    return {
      isCollapse: false
    }
  },
  methods: {
    handleOpen() {
      this.isCollapse = false;
    },
    handleClose() {
      this.isCollapse = true;
    },
    hrefTo(name) {
      if (this.$router.history.current.name !== name) {
        this.$router.push({name: name});
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
  .sidebar {
    background-color: #243048;
    height: 100%;
    .collapse {
      height:50px;
      text-align: left;
      padding:0 20px;
      i {
        color:white;
        width:24px;
        margin-top:15px;
        font-size:18px;
        margin-left:3px;
      }
    }
    .el-menu{
      background-color:  #243048;
      border-right:0px;
      .is-active {
        background-color: #4584fb;
      }
      .el-menu-item{
        text-align: left;
        color:white;
        i {
          color:white;
        }
      }
      .el-menu-item:focus, .el-menu-item:hover{
        background-color: #4584fb;
      }
    }
  }
</style>
